<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <moduleSections>
    <moduleSection>File</moduleSection>
	<moduleSection>EnvironmentVars</moduleSection>
	<moduleSection>Network</moduleSection>
	<moduleSection>StarupLocations</moduleSection>
  </moduleSections>
  <moduleSettings>
    <module name="File">
      <fingerprintscript>
        <![CDATA[{
    if ($item -match "windir")
    {
        $expandedPath = $item  -replace "windir", $env:windir
    }
    else
    {
        $expandedPath = $item
    }

    try
    {

        $file = Get-Item -Path $expandedPath -ErrorAction Stop

        $obj = [pscustomobject]@{"path" = $file.FullName
                                 "hash" = (Get-FileHash $file -Algorithm MD5 | Select-Object -ExpandProperty Hash)
                                 "timestamp" = $file.LastWriteTime
                                 "length" = $file.Length}

        Write-Output $obj

    }  
    catch
    {
        Write-Verbose "Cannot generate hash of $item"
    }
}]]>
      </fingerprintscript>
	  <serializeAs>
	  csv
	  </serializeAs>
      <objects>
		<object>c:\autoexec.bat</object>
		<object>c:\config.sys</object>
		<object>windir\wininit.ini</object>
		<object>windir\winstart.bat</object>
		<object>windir\win.ini</object>
		<object>windir\system.ini</object>
		<object>windir\system\autoexec.nt</object>
		<object>windir\system\config.nt</object>
      </objects>
    </module>
    <module name="EnvironmentVars">
      <fingerprintscript>
        <![CDATA[{
    [pscustomobject]@{"Name" = $item.Name.ToString(); "Value" = $item.Value.ToString()} | Write-Output
 }]]>
      </fingerprintscript>
	  <serializeAs>
	  csv
	  </serializeAs>
      <objects />
    </module>
    <module name="Network">
      <fingerprintscript>
        <![CDATA[{
    $pattern = [regex]"(\S+)\s+(\S+):(\S+)\s+(\S*):(\S+)\s*(\S*)"
    
    $matches = $pattern.Match($item)

    $proto = [string]::Empty
    $localAddr = [string]::Empty
    $localPort = [string]::Empty
    $foreignAddr = [string]::Empty
    $foreignPort = [string]::Empty
    $state = [string]::Empty

    switch ($matches.Groups.Count)
    {   
        {$_-gt 6} {$state = $matches.Groups[6].Value}     
        {$_-gt 5} {$foreignPort = $matches.Groups[5].Value}
        {$_-gt 4} {$foreignAddr = $matches.Groups[4].Value}
        {$_-gt 3} {$localPort = $matches.Groups[3].Value}
        {$_-gt 2} {$localAddr = $matches.Groups[2].Value}
        {$_-gt 1} {$proto = $matches.Groups[1].Value}
    }

    $obj = [pscustomobject]@{"Proto" = $proto
                      "LocalAddress" = $localAddr
                      "LocalPort" = $localPort
                      "ForeignAddress" = $foreignAddr
                      "ForeignPort" = $foreignPort
                      "State" = $state}

    Write-Output $obj
}]]>
      </fingerprintscript>
	  <serializeAs>
	  json
	  </serializeAs>
      <objects />
    </module>  
    <module name="StarupLocations">
      <fingerprintscript>
        <![CDATA[{
    $obj = Get-ChildItem -Path $item -ErrorAction SilentlyContinue | Select-Object -ExpandProperty Name
    Write-Output $obj
}]]>
      </fingerprintscript>
	  <serializeAs>
	  csv
	  </serializeAs>
      <objects>
		<object>hklm:\System\CurrentControlSet\Services</object>
		<object>hklm:\Software\Microsoft\Windows\CurrentVersion\RunServicesOnce</object>
		<object>hkcu:\Software\Microsoft\Windows\CurrentVersion\RunServicesOnce</object>
		<object>hklm:\Software\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon\Notify</object>
		<object>hklm:\Software\Microsoft\Windows NT\CurrentVersion\Winlogon\Userinit</object>
		<object>hklm:\Software\Microsoft\Windows\CurrentVersion\RunOnce</object>
		<object>hklm:\Software\Microsoft\Windows\CurrentVersion\RunOnceEx</object>
		<object>hklm:\Software\Microsoft\Windows\CurrentVersion\Run</object>
		<object>hkcu:\Software\Microsoft\Windows\CurrentVersion\Run</object>
		<object>hkcu:\Software\Microsoft\Windows\CurrentVersion\RunOnce</object>
		<object>hkcu:\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\Run</object>
		<object>hklm:\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\Run</object>
		<object>hklm:\Software\Microsoft\Windows NT\CurrentVersion\Windows\load</object>
		<object>hklm:\Software\Microsoft\Windows NT\CurrentVersion\Windows</object>
		<object>hklm:\SOFTWARE\Microsoft\Windows\CurrentVersion\ShellServiceObjectDelayLoad</object>
		<object>hklm:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\SharedTaskScheduler</object>
		<object>C:\Documents and Settings\All Users\Start Menu\Programs\Startup</object>
	  </objects>
    </module>
	</moduleSettings>
</configuration>	